API_ID= 35307937
API_HASH= 9c6e00f1aec844a2262224bb146ab6c3
BOT_TOKEN= 8732928002:AAFc5x_kzpV-gQ8M_gR0zRgEo6eR_I1FLqE
OWNER_ID= 6698999868
MONGO_DB_URI= mongodb+srv://Musicbot:musicbot123@cluster0.ogkn7k2.mongodb.net/?appName=Cluster0
LOG_GROUP_ID= -1003576293856 
STRING_SESSION= BQIawaEAWoSUrtxILbH3b-oC_t9rd_vzhprdINBuANmCApGBETxPxXrDUiShLXwNadIWblJnHPHWZncnzMxHJUiBxk5uFbG2mxkN5FPAemrMKuLRRiy4nt9dU2pFOG5PzHPRDk5o4SvgXPJROAKSdFu6o8x4Vj_K7pCUJoxo20KFc7Mmhk3fbrJgaOHj5EPUnk07dEI_QzJQoVJaAkXY0WLpmUWVPfss7fN0VSC2gVv2AeLwOu024QQDEpgsNwutXgowZuTdrr112OXsyzfD2RBGPKDCj5z9vx3XpF8IZZ-5IAHMe0ojkkUhrIFV8zQ4deLaiypEHw3TEUOntcIf9GJSDaOd1gAAAAHo4Z5BAA
